
body{
    width: 100vw;
    height: 100vh;
    position:relative;
}

.wrapper{
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;

}

.title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.book__group{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
    gap:1.5rem;

}

.book__cover{
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}


.title__frame{
    margin-left: 1.5rem;
}
.cover__title{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
}

.cover__author{
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.book__line{
    position:absolute;
    height: 18rem;
    width: .2rem;
    background-color: rgb(111, 108, 108);
    left:.7rem;
    
}
.popup__book__details{
    position:absolute;
    left:0;
    top:0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
}

.popup__frame{
    width: 60%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: grid;
    grid-template: 4rem 1fr/1fr 1fr;

}

.book__frame{
    grid-column: 1/span 1;
    width: 25rem;   
    display: flex;
    flex-direction: column;
    justify-content: end;
    position:relative;
}

.popup__book__line{
    position:absolute;
    height: 100%;
    width: .2rem;
    background-color: rgb(111, 108, 108);
    left:.7rem;
}
.book__title{
    font-size: 30px;
    color: rgb(33, 33, 33);
    font-weight: 600;
    margin-left: 5%;
}

.book__author{
    font-size: 20px;
    color:  rgb(33, 33, 33);
    margin-left: 5%;
}

.book__intro{
    grid-column: auto/span 1;
    display: grid;
    grid-template-rows: 8rem 1fr 7rem 5rem;
    align-content: flex-start;
}

.detail__name{
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
}

.detail__author{
    font-size: 20px;
    color: aliceblue;
}

.abstract{
    font-size: 15px;
    color: aliceblue;
}

.details__frame{
    display:grid;
    grid-template: 1fr 1fr/1fr 1fr;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(45, 44, 44);
    justify-items: center;

}



.read__btn{
    width: fit-content;
    height: fit-content;
    padding:.5rem 1rem;
    font-size:15px;
    justify-self: center;
    align-self: flex-end;
}